@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: auto;
  margin: 0;
}

@media print {
  main :not(.printable) {
    display: none;
  }
  div.printable {
    margin: 1in;
  }
  .printable {
    display: block !important;
    font-size: 12px;
    line-height: 1.5;
    padding: 0;
  }
  .markdown.printable {
    margin: 0;
    width: 8.5in !important;
    max-width: 8.5in;
  }
  .markdown.printable * {
    display: revert;
  }
  .prose {
    max-width: 7.5in;
  }
}
